data/node-red-data/flows.json
[
    {
        "id": "7d33f045adfa2ce5",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0504f462f986c487",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "influx_in",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "26b1797a2f299d3c",
        "type": "ui_tab",
        "name": "Blinky Driver",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f02c2e29ba92c8ca",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "bc962b1e502fdd92",
        "type": "ui_group",
        "name": "Données",
        "tab": "26b1797a2f299d3c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2d526cab482570ba",
        "type": "ui_group",
        "name": "Collomne 1",
        "tab": "26b1797a2f299d3c",
        "order": 2,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "161fc0b22611f508",
        "type": "ui_group",
        "name": "Collomne 2",
        "tab": "26b1797a2f299d3c",
        "order": 3,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fc2cf8f37a7b4f9f",
        "type": "ui_group",
        "name": "Dérive",
        "tab": "26b1797a2f299d3c",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3932fb80003a0cc6",
        "type": "http in",
        "z": "7d33f045adfa2ce5",
        "name": "http_cardiaque",
        "url": "/app/cardiaque/:valuec/:time",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "80dfcfd3f6475bfe"
            ]
        ]
    },
    {
        "id": "80dfcfd3f6475bfe",
        "type": "function",
        "z": "7d33f045adfa2ce5",
        "name": "function_cardiaque",
        "func": "let valueC = Number(msg.req.params.valuec);\nlet time = msg.req.params.time;\n\nmsg.payload = {\n    value: valueC,\n    time: time\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 180,
        "wires": [
            [
                "ce003374eaa7783a",
                "0ee71603d9dc2bbf"
            ]
        ]
    },
    {
        "id": "ce003374eaa7783a",
        "type": "debug",
        "z": "7d33f045adfa2ce5",
        "name": "debug_cardiaque",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "af0aaa9bdcef7077",
        "type": "http in",
        "z": "7d33f045adfa2ce5",
        "name": "http_accelerometer",
        "url": "/app/accelerometer/:x/:y/:z/:time",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "2a3b84b9e454c694"
            ]
        ]
    },
    {
        "id": "2a3b84b9e454c694",
        "type": "function",
        "z": "7d33f045adfa2ce5",
        "name": "function_accelerometer",
        "func": "let x = Number(msg.req.params.x);\nlet y = Number(msg.req.params.y);\nlet z = Number(msg.req.params.z);\nlet time = msg.req.params.time;\n\nmsg.payload = {\n    value_x: x,\n    value_y: y,\n    value_z: z,\n    time: time\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 360,
        "wires": [
            [
                "8987dda3253a708a",
                "b836ff4cbe949f16"
            ]
        ]
    },
    {
        "id": "8987dda3253a708a",
        "type": "debug",
        "z": "7d33f045adfa2ce5",
        "name": "debug_accelerometer",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "0ee71603d9dc2bbf",
        "type": "influxdb out",
        "z": "7d33f045adfa2ce5",
        "influxdb": "0504f462f986c487",
        "name": "influx_cardiaque",
        "measurement": "cardiaque",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "myorg",
        "bucket": "mybucket",
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "b836ff4cbe949f16",
        "type": "influxdb out",
        "z": "7d33f045adfa2ce5",
        "influxdb": "0504f462f986c487",
        "name": "influx_accelerometer",
        "measurement": "accelerometer",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "myorg",
        "bucket": "mybucket",
        "x": 760,
        "y": 360,
        "wires": []
    },
    {
        "id": "40fb8ed1e6bfbf86",
        "type": "ui_chart",
        "z": "7d33f045adfa2ce5",
        "name": "",
        "group": "161fc0b22611f508",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Dérive",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#ff0000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1510,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "27cbf55bb86ef3ce",
        "type": "ui_chart",
        "z": "7d33f045adfa2ce5",
        "name": "",
        "group": "161fc0b22611f508",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Somnolence",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#ff0000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1530,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "f073d5f310fa046e",
        "type": "ui_chart",
        "z": "7d33f045adfa2ce5",
        "name": "",
        "group": "2d526cab482570ba",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "BPM",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#ff0000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1510,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "f2b60cbeefd2e3d0",
        "type": "ui_text",
        "z": "7d33f045adfa2ce5",
        "group": "bc962b1e502fdd92",
        "order": 4,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "Temps de conduite :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 180,
        "y": 460,
        "wires": []
    },
    {
        "id": "2fcd9a7b2b30e030",
        "type": "ui_text",
        "z": "7d33f045adfa2ce5",
        "group": "bc962b1e502fdd92",
        "order": 4,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "Temps de somnolence total :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 200,
        "y": 520,
        "wires": []
    },
    {
        "id": "a1dd420e8d3ab6db",
        "type": "ui_text",
        "z": "7d33f045adfa2ce5",
        "group": "bc962b1e502fdd92",
        "order": 4,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Pourcentage du trajet en somnolence :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 230,
        "y": 580,
        "wires": []
    },
    {
        "id": "2ecc9dd35be6eb7d",
        "type": "ui_text",
        "z": "7d33f045adfa2ce5",
        "group": "bc962b1e502fdd92",
        "order": 4,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Temps de somnolance la plus longue :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 230,
        "y": 640,
        "wires": []
    },
    {
        "id": "5b8db29d67362fe0",
        "type": "ui_text",
        "z": "7d33f045adfa2ce5",
        "group": "bc962b1e502fdd92",
        "order": 4,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Distance parcourue en somnolant :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 220,
        "y": 760,
        "wires": []
    },
    {
        "id": "98d6736019d2b1b1",
        "type": "ui_text",
        "z": "7d33f045adfa2ce5",
        "group": "bc962b1e502fdd92",
        "order": 4,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Nombre de dérives :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 180,
        "y": 880,
        "wires": []
    },
    {
        "id": "8c6f8898105bb795",
        "type": "ui_text",
        "z": "7d33f045adfa2ce5",
        "group": "bc962b1e502fdd92",
        "order": 4,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Nombre de dérives par heure:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 210,
        "y": 940,
        "wires": []
    },
    {
        "id": "8b7189480af46fec",
        "type": "ui_text",
        "z": "7d33f045adfa2ce5",
        "group": "bc962b1e502fdd92",
        "order": 4,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Dérives à plus de 80 km/h :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 200,
        "y": 1000,
        "wires": []
    },
    {
        "id": "3aaa1015cc4d6a85",
        "type": "ui_text",
        "z": "7d33f045adfa2ce5",
        "group": "bc962b1e502fdd92",
        "order": 4,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Horaires où les somnolence ont été les plus courantes :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 290,
        "y": 700,
        "wires": []
    },
    {
        "id": "7fefe67424f81a80",
        "type": "ui_text",
        "z": "7d33f045adfa2ce5",
        "group": "bc962b1e502fdd92",
        "order": 4,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Distance la plus longue en somnolant :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 230,
        "y": 820,
        "wires": []
    },
    {
        "id": "c11185ec76fab4e6",
        "type": "function",
        "z": "7d33f045adfa2ce5",
        "name": "function 1",
        "func": "msg = {\n    query: 'from(bucket: \"mybucket\")\\n|> range(start: 2024-10-09)\\n  |> filter(fn: (r) => r[\"_measurement\"] == \"cardiaque\")'\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 460,
        "wires": [
            [
                "cdc061ab3ea10a11"
            ]
        ]
    },
    {
        "id": "cdc061ab3ea10a11",
        "type": "influxdb in",
        "z": "7d33f045adfa2ce5",
        "influxdb": "0504f462f986c487",
        "name": "influx_cardiaque",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "myorg",
        "x": 1040,
        "y": 460,
        "wires": [
            [
                "f7884997eb84cef4"
            ]
        ]
    },
    {
        "id": "697818e5b772060b",
        "type": "function",
        "z": "7d33f045adfa2ce5",
        "name": "function 2",
        "func": "msg.timestamp = msg.payload._time;\nmsg.payload = Number(msg.payload._value);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 460,
        "wires": [
            [
                "f073d5f310fa046e"
            ]
        ]
    },
    {
        "id": "f7884997eb84cef4",
        "type": "split",
        "z": "7d33f045adfa2ce5",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 1210,
        "y": 460,
        "wires": [
            [
                "697818e5b772060b"
            ]
        ]
    },
    {
        "id": "68a1524d398b4965",
        "type": "inject",
        "z": "7d33f045adfa2ce5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 670,
        "y": 600,
        "wires": [
            [
                "c11185ec76fab4e6",
                "2a8e1a2a90ea11cc",
                "4893e5320b72cf77",
                "75452706d234dade"
            ]
        ]
    },
    {
        "id": "2a8e1a2a90ea11cc",
        "type": "function",
        "z": "7d33f045adfa2ce5",
        "name": "function 3",
        "func": "msg = {\n    query: 'from(bucket: \"mybucket\")\\n|> range(start: 2024-10-09)\\n  |> filter(fn: (r) => r[\"_measurement\"] == \"cardiaque\")'\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 520,
        "wires": [
            [
                "a653bc9186e1adbc"
            ]
        ]
    },
    {
        "id": "a653bc9186e1adbc",
        "type": "influxdb in",
        "z": "7d33f045adfa2ce5",
        "influxdb": "0504f462f986c487",
        "name": "influx_cardiaque",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "myorg",
        "x": 1040,
        "y": 520,
        "wires": [
            [
                "e216fde94ac02884"
            ]
        ]
    },
    {
        "id": "c4b5c56dfa9ed72a",
        "type": "function",
        "z": "7d33f045adfa2ce5",
        "name": "function 4",
        "func": "msg.timestamp = msg.payload._time;\nmsg.payload = Number(msg.payload._value);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 520,
        "wires": [
            [
                "ae99473e7e934f08"
            ]
        ]
    },
    {
        "id": "e216fde94ac02884",
        "type": "split",
        "z": "7d33f045adfa2ce5",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 1210,
        "y": 520,
        "wires": [
            [
                "c4b5c56dfa9ed72a"
            ]
        ]
    },
    {
        "id": "4893e5320b72cf77",
        "type": "function",
        "z": "7d33f045adfa2ce5",
        "name": "function 5",
        "func": "msg = {\n    query: 'from(bucket: \"mybucket\")\\n|> range(start: 2024-10-09)\\n  |> filter(fn: (r) => r[\"_measurement\"] == \"cardiaque\")'\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 680,
        "wires": [
            [
                "593796e545cbd362"
            ]
        ]
    },
    {
        "id": "593796e545cbd362",
        "type": "influxdb in",
        "z": "7d33f045adfa2ce5",
        "influxdb": "0504f462f986c487",
        "name": "influx_cardiaque",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "myorg",
        "x": 1040,
        "y": 680,
        "wires": [
            [
                "5a8e5a1e5a28c41c"
            ]
        ]
    },
    {
        "id": "dbc9bf148f5a2703",
        "type": "function",
        "z": "7d33f045adfa2ce5",
        "name": "function 6",
        "func": "msg.timestamp = msg.payload._time;\nmsg.payload = Number(msg.payload._value);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 680,
        "wires": [
            [
                "40fb8ed1e6bfbf86"
            ]
        ]
    },
    {
        "id": "5a8e5a1e5a28c41c",
        "type": "split",
        "z": "7d33f045adfa2ce5",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 1210,
        "y": 680,
        "wires": [
            [
                "dbc9bf148f5a2703"
            ]
        ]
    },
    {
        "id": "75452706d234dade",
        "type": "function",
        "z": "7d33f045adfa2ce5",
        "name": "function 7",
        "func": "msg = {\n    query: 'from(bucket: \"mybucket\")\\n|> range(start: 2024-10-09)\\n  |> filter(fn: (r) => r[\"_measurement\"] == \"cardiaque\")'\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 740,
        "wires": [
            [
                "bde80fef40b2b5b3"
            ]
        ]
    },
    {
        "id": "bde80fef40b2b5b3",
        "type": "influxdb in",
        "z": "7d33f045adfa2ce5",
        "influxdb": "0504f462f986c487",
        "name": "influx_cardiaque",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "myorg",
        "x": 1040,
        "y": 740,
        "wires": [
            [
                "eb1360d17be528fc"
            ]
        ]
    },
    {
        "id": "99d06f8c01adaa0f",
        "type": "function",
        "z": "7d33f045adfa2ce5",
        "name": "function 8",
        "func": "msg.timestamp = msg.payload._time;\nmsg.payload = Number(msg.payload._value);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 740,
        "wires": [
            [
                "27cbf55bb86ef3ce"
            ]
        ]
    },
    {
        "id": "eb1360d17be528fc",
        "type": "split",
        "z": "7d33f045adfa2ce5",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 1210,
        "y": 740,
        "wires": [
            [
                "99d06f8c01adaa0f"
            ]
        ]
    },
    {
        "id": "ae99473e7e934f08",
        "type": "ui_chart",
        "z": "7d33f045adfa2ce5",
        "name": "",
        "group": "2d526cab482570ba",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Variance BPM",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#ff0000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1540,
        "y": 520,
        "wires": [
            []
        ]
    }
]